/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: $text_primary_color;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: $text_secondary_color;
}

p{
  font-weight: 800;
}

h1{
  font-size: 68px;
  font-weight: 800;
}

h2{
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}

h3 {
  font-size: 32px;
  font-weight: 800;
  line-height: 50px;
}
/* fine generali */

/* versione mobile */
@media all and (max-width: 767px) {
}
/* fine versione mobile */
