.navbar {
  @include container;
  @include flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid $text_primary_color;

  .navbar-logo{
    img {
      width: 150px;
    }
  }

  .navbar-nav{
    li {
      display: inline-block;
      margin-left: 20px;
    }

    .navbar-nav-button {
      a{
        @include button-primary;
      }

      img{
        @include button-img;
      }
    }
  }
}

.header-hamburgerMenu {
}
