.jumbotron {
  @include container;
  @include flex;
  padding: 70px 0;

  &-text, &-img {
    width: 50%;
  }

  &-text{
    h1,{
      font-size: 68px;
      font-weight: 600;
    }

    h2{
      padding-top: 10px;
      padding-bottom: 70px;
      font-size: 32px;
    }

    a, span{
      @include text-primary;
    }

    a {
      font-size: 20px;
      font-weight: 600;
    }

    div{
      margin-bottom: 30px;

      a{
        @include button-primary;
        padding: 10px;

        img{
          @include button-img;
        }
      }
    }
  }

  &-img{
    img{
      width: 100%;
    }
  }
}

.traditionalPeople {
  background-color: $background_primary_color;
  text-align: center;
  font-size: 20px;

  @for $i from 1 through 1 {
    .tP-section-#{$i}{
      border-bottom: 2px solid $text_primary_color;
    }
  }

  @for $i from 1 through 3 {
    .tP-section-#{$i}{
      @include container;

      h2 {
        font-size: 40px;
        font-weight: 600;
        padding: 60px 0;
        // padding: 60px 300px;
      }

      .tP-flex {
        @include flex;
        flex-wrap: wrap;
      }

      .tP-element {
        width: calc(100% / 3);

        img {
          height: 170px;
          padding-bottom: 20px;
        }
      }

      .tP-elementBig {
        width: 100%;
        padding: 150px 0;

        img {
          height: 450px;
        }
      }
    }
  }
}

.previewScreenshot {

}

.signUp {

}
